/*body *{
	border: 1px solid black;
}
*/
section{
	display: inline-block;
	width: 60%;
	color: blue;
}

body{
	background-color: black;
}

.table{
	color: yellow;
	font-size: 20px;
}

label{
	color: green;
	font-size: 25px;
}